bin
include
lib
lib64
share
pyvenv.cfg

__pycache__
.idea

event_app/migrations
analytics/migrations
payments/migrations
logger/migrations
marketing/migrations
pro/migrations
*.bashrc
temp
static_root
celerybeat-schedule

.pre-commit-config.yaml
abc/
.coverage
